In [22]:
import pandas as pd
import os, re
import numpy as np
import cv2
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

sns.set_theme(style = "dark", 
        color_codes = True,
        font_scale = 1.5)

In [23]:
image_csv_folder = os.path.join(os.getcwd(),'image_csv')
len(os.listdir(image_csv_folder))

10023

In [24]:
image_indexes,images,labels = [],[],[]

for image_fname in os.listdir(image_csv_folder):
    image_re = re.match(r'([0-9]+)_([0-9]+)\.csv',image_fname)
    image_indexes.append(image_re.group(1))
    labels.append(image_re.group(2))
    images.append(np.loadtxt(os.path.join(image_csv_folder,image_fname),delimiter=',',dtype=int))

image_df = pd.DataFrame({'img_index':image_indexes,'image':images,'label':labels})
image_df

      img_index                                              image label
0             0  [[2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...     0
1         10000  [[0, 120, 10, 61, 21, 0, 0, 0, 0, 15, 0, 14, 0...     3
2         10001  [[7, 7, 7, 7, 0, 80, 95, 0, 7, 8, 8, 7, 0, 68,...     3
3         10002  [[0, 31, 0, 15, 32, 0, 16, 0, 0, 0, 0, 13, 0, ...     3
4         10003  [[0, 0, 0, 0, 0, 0, 0, 0, 21, 47, 0, 0, 0, 0, ...     3
...         ...                                                ...   ...
10018      9998  [[73, 26, 41, 104, 29, 29, 29, 29, 24, 59, 25,...     3
10019      9999  [[0, 0, 0, 0, 0, 69, 0, 0, 0, 0, 0, 0, 0, 0, 0...     3
10020       999  [[3, 2, 2, 3, 3, 3, 3, 3, 2, 1, 2, 3, 4, 4, 3,...     0
10021        99  [[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...     0
10022         9  [[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...     0

[10023 rows x 3 columns]

In [25]:
image_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10023 entries, 0 to 10022
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   img_index  10023 non-null  object
 1   image      10023 non-null  object
 2   label      10023 non-null  object
dtypes: object(3)
memory usage: 235.0+ KB

In [26]:
image_df["img_index"] = image_df["img_index"].astype(int)
image_df["label"] = image_df["label"].astype(int)

In [28]:
final_image_df = image_df.sort_values(by="img_index").reset_index(drop=True).drop(['img_index'],axis=1)

                                                   image  label
0      [[2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...      0
1      [[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 5, 7, 6,...      0
2      [[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...      0
3      [[28, 39, 65, 94, 114, 124, 125, 108, 82, 54, ...      0
4      [[5, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...      0
...                                                  ...    ...
10018  [[0, 0, 1, 0, 0, 154, 0, 0, 0, 0, 0, 0, 0, 0, ...      3
10019  [[9, 10, 10, 10, 10, 10, 10, 3, 11, 10, 10, 10...      3
10020  [[9, 9, 0, 75, 0, 98, 38, 0, 0, 0, 21, 39, 0, ...      3
10021  [[0, 7, 14, 0, 0, 0, 7, 0, 15, 36, 0, 0, 158, ...      3
10022  [[44, 0, 16, 43, 0, 87, 0, 2, 14, 0, 0, 11, 42...      3

[10023 rows x 2 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(final_image_df,test_size=0.2,random_state=1)